<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Uncommon Pipes</h1>
  <h3 class="text-xl font-light">Pipes included in Angular</h3>
</section>

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

  <app-card title="i18nSelectPipe">
    <p>Hello {{ customer().gender | i18nSelect: invitationMap }} {{ customer().name }}, it is a pleasure invite you to our event</p>

    <button class="btn btn-primary" (click)="changeCustomer()">
      Change Customer
    </button>

  </app-card>

  <app-card title="i18nPluralPipe">
    <p>Currently, {{ customers().length | i18nPlural: customersMap() }}</p>

    <button class="btn btn-primary" (click)="deleteCustomer()" [disabled]="customers().length === 0">
      Delete Customer
    </button>

  </app-card>

  <app-card title="SlicePipe">
    <b>Original</b>
    <p class="text-primary">
      {{ customers().join(', ') }}
    </p>

    <b class="mt-2">Slice:0:2</b>
    <p class="text-primary">
      {{ customers() | slice:0:2 }}
    </p>

    <b class="mt-2">Slice:1:2</b>
    <p class="text-primary">
      {{ customers() | slice: 1 : 2 }}
    </p>

    <b class="mt-2">Slice:4:8</b>
    <p class="text-primary">
      {{ customers() | slice: 4 : 8 }}
    </p>

    <b class="mt-2">Slice:0:-3</b>
    <p class="text-primary">
      {{ customers() | slice: 0 : -3 }}
    </p>

  </app-card>

  <app-card title="JsonPipe">
    <pre class="text-primary">
      {{ customers() | json }}
    </pre>
    <pre class="text-primary">
      {{ customer() | json}}
    </pre>
    <p class="text-primary">
      {{ customers().join(', ') | json | uppercase }}
    </p>
  </app-card>

  <app-card title="KeyValuePipe">

      <!-- {{ profile | keyvalue | json }}> -->
        <ul>
          @for (item of profile | keyvalue; track $index) {
            <li>
              <strong class="text-primary">{{ item.key | titlecase }}: </strong>
            <span >
              {{ item.value}}
            </span>
          </li>
          }
        </ul>
  </app-card>

  <app-card title="AsyncPipe">
    <p>
      {{ promiseValue | async }}
    </p>
    @if ( promiseValue | async; as value) {
      <p class="text-primary">
        {{ value }}
      </p>
    }
    @else {
      <p class="text-accent">
        Wait please...
      </p>
    }

    <h3 class="text-2xl">Observable</h3>
    <p>
      {{ myObservableTimer | async }}
    </p>

    @if ( myObservableTimer | async; as value) {
      <p>
        Value: {{ value }}
      </p>
    }
    @else {
      <p>
        Loading...
      </p>
    }
  </app-card>

</section>
